
.meus-filmes {
    width: 400px;
    margin-top: 15px;
    padding: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.meus-filmes h2 {
    text-align: center;
    color: #ffff00;
    text-shadow: 4px 4px 4px #000000;
}

.meus-filmes li {
    list-style: none;
    font-size: 20px;
    margin: 15px 14px;
    background-color: #fa05fa60;
    padding: 12px;
    border-radius: 9px;
    color: #ffff00;
    text-shadow: 2px 2px 2px #000000;
}

.meus-filmes .span-no-movies {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
}

.meus-filmes .area-details {
    display: flex;
    justify-content: space-between;
}


.area-details a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}


.area-details button {
    width: 80px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.area-details button:hover {
    background-color: #32035e;
    color: #fff;
}


