.selected-movie {
    width: 800px;
    height: calc(100vh - 60px);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.selected-movie h2 {
    margin-top: 20px;
}

.selected-movie img {
    width: 80%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.selected-movie p {
    width: 80%;
    font-size: 18px;
}

.area-buttons button{
    margin: 0 10px;
    width: 80px;
    height: 30px;
    border: none;
    color: #000000;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.area-buttons button:hover {
    background-color: #ffff00;
}

.area-buttons button a {
    text-decoration: none;
    color: #000000;
}