
.list-movies {
    width: 800px;
    margin: 14px auto;
}

.list-movies article {
    width: 100%;
    padding: 15px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-movies strong {
    margin-bottom: 14px;
    color: #fff;
    font-size: 20px;
}

.list-movies img {
    width: 900px;
    max-width: 100%;
    max-width: 340px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-movies a {
    width: 340px;
    height: 40px;
    text-decoration: none;
    background-color: #0707ec;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.list-movies a:hover {
    background-color: #0000a7c9;
}

.loader {
    margin-top: 15%;
    width: 48px;
    height: 48px;
    border:10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
  }
  .loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid rgb(241, 63, 241);
    animation: prixClipFix 2s infinite linear;
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
    