.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    color: #ffff00;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.not-found h2 {
    font-size: 120px;
}

.not-found h3 {
    font-size: 40px;
}

.not-found a {
    text-decoration: none;
    font-size: 22px;
    margin-top: 5px;
    color: #fff;
}

.not-found a:hover {
    text-decoration: underline;
}
