
header {
    width: 100%;
    height: 60px;
    background-color: #000000;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffff00;
    font-weight: bold;
}

.favoritos {
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    border-radius: 4px;
}